<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CS310 Scalable Software - Final Project</title>

  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/jquery-ui.css" rel="stylesheet">


</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="mt-5">CS310 Scalable Software Architectures</h1>
      <p class="lead mt-4">Final Project by Team 310happyfinal</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p class="mt-4">
        <strong>Team Members:</strong>
      <ul class="list-unstyled">
        <li>Yueming Zhang</li>
        <li>Chiao-ping Liang</li>
        <li>Julio Wang</li>
        <li>Zhexiang Jiang</li>
      </ul>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p class="mt-4">
        <a href="/main" class="btn btn-primary btn-lg">Proceed to Project >>></a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
